[Unit]
Description=AV-CSI Tester for ADV7282-M
After=systemd-udev-settle.service
Wants=systemd-udev-settle.service
Conflicts=display-manager.service

[Service]
Type=simple
User=root
Environment=AVCSI_WIDTH=720
Environment=AVCSI_HEIGHT=576
Environment=AVCSI_OUTPUT=auto
Environment=AVCSI_FB=/dev/fb0
Environment=AVCSI_DEVICE=auto
Environment=AVCSI_ROTATE=0
Environment=AVCSI_STANDARD=auto
Environment=SDL_VIDEODRIVER=kmsdrm
Environment=SDL_NOMOUSE=1
EnvironmentFile=-/etc/default/avcsi
ExecStart=/usr/bin/python3 /opt/avcsi/av_csi_tester.py --width ${AVCSI_WIDTH} --height ${AVCSI_HEIGHT} --output ${AVCSI_OUTPUT} --fb ${AVCSI_FB} --device ${AVCSI_DEVICE} --rotate ${AVCSI_ROTATE} --standard ${AVCSI_STANDARD}
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
